body {
    background-color: #eceff1;
}

nav.top-nav a.page-title {
    font-size: 36px;
}

.container {
    width: 80%;
}

#line-plot-container {
    margin-top: 85px;
}

#scatter-plot-container {
    margin-top: 85px;
}

/* Graphs */

#line {
    margin-left: auto;
    margin-right: auto;
}

#scatter {
    margin-left: auto;
    margin-right: auto;
}

