  <link type="text/css" rel="stylesheet" href="/css/index.css">
  <link type="text/css" rel="stylesheet" href="/rickshaw/rickshaw.min.css">
  <script src="/rickshaw/vendor/d3.min.js"></script>
  <script src="/rickshaw/vendor/d3.layout.min.js"></script>
  <script src="/rickshaw/rickshaw.min.js"></script>
  <script>
var graph = new Rickshaw.Graph({
    element: document.querySelector("#graph"),
    renderer: "line",
    series: [
    {% for p in data %}
    {
        name: "{{ p.name }}",
        data: [
            {% for d in p.data %}
            { x: {{ d.date.strftime("%s") }}, y: {{ d.value }} },
            {% endfor %}
        ],
        color: "{{ p.color }}"
    },
    {% endfor %}
    ]
});
 
var legend = new Rickshaw.Graph.Legend({
    element: document.querySelector("#legend"),
    graph: graph
});

graph.render();
  </script>

